html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(215, 249, 247);
    height: 100px;
}

header p {
    margin-bottom: 10px;
    font-size: 150%;
}

header nav ul {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

header ul li {
    display: inline;
    margin-left: 40px;
}

h1 {
    font-size: large;
}

.aside-one {
    background-color: bisque;
}

.aside-two {
    background-color: darkkhaki;
}

.main-content {
    margin: auto 2%;
}

footer {
    background-color: grey;
    bottom: 0;
    position: static;
    text-align: center;
    font-size: 75%;
}


@media screen and (min-width:768px) {

    #asides {
        display: flex;
        flex-wrap: nowrap;
        align-items: stretch;
        justify-content: space-evenly;
    }

    .aside-one {
        display: block;
        width: 50%;
        text-align: center;
    }

    .aside-two {
        display: block;
        width: 50%;
        text-align: center;
    }

    .main-content {
        font-size: 150%;
        margin: 0 5%;
        text-align: justify;
    }

    header {
        flex-direction: row;
        justify-content: center;
        font-size: 100%;
    }

    footer {
        font-size: 100%;
    }
}


@media screen and (min-width:1024px) {
    .container {
        display: flex;
        align-items: stretch;
    }

    #asides {
        flex-direction: column;
        justify-content: flex-start;
    }

    .aside-one {
        display: inline-block;
        text-align: center;
        width: 400px;
    }

    .aside-two {
        display: inline-block;
        text-align: center;
        width: 400px;
    }

    .main-content {
        font-size: medium;
    }
}