/* 
Cor de fundo da tela;
Cor do texto;
Tamanho da fonte;
Espaçamento entre as linhas do texto;
Tipo da fonte ( Font family ).
 */

 header{
     text-align: center;
     font-size: 30px;
 }
main {
    display: inline-block;
    text-align: center;
}

 #menuDeBotoes {
     border: grey 2px solid;
     border-radius: 25px;
     display: inline-block;
     text-align: center;
     padding: 0px 30px 15px 30px;
 }

 #textoPrincipal {
     display: inline-block;
     width: 75%;
 }