html {
    background-color: rgb(51, 51, 51);
    color: whitesmoke;

}
.nav {
    display: inline-block;
    text-align: center;
    background-color: #000000;
    height: 50px;
    border-radius: 10px;
    width: 100%;
}

.botoes {
    text-decoration: none;
    color: beige;
}

#fatosPrincipais {
}

#fatosPrincipais img {
    position: relative;
    float: right;
}

.textoPrincipal {
    float: left;
    text-align: left;
    margin: 10px;
}

table {
    border: 2px white solid;
    text-align: center;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%);
}

#forca {
    height: 500px;
}

#textoForca {
    text-align: center;
}

#forca img {
    float: right;
}

#visao {
    height: 500px;
}

#visao p {
    text-align: center;
}

#visao img {
    float: right;
}

h3 {
    text-align: center;
}

aside {
    display: block;
    position: relative;
    top: 0;
    
}

footer {
    display: inline-block;
    text-align: center;
    background-color: #000000;
    height: 50px;
    border-radius: 10px;
    width: 100%;
    color: beige;
}