/*
 * @see http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 * apply a natural box layout model to all elements, but allowing components to change
 */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font: 1em helvetica;
  margin: 5%;
}

article {
  text-align: justify;
}

h1 {
  font-size: large;
}

h2 {
  font-size: large;

}

img {
  max-width: 100%;
}

main {
  max-width: 100%;
}

section {
  text-align: center;
}

figure {
  margin: 1%;
}

figcaption {
  font-size: .8em;
}

@media screen and (min-width:500px) {
  body {
    font-size: 150%;
  }

  h1 {
    font-size: 200%;
  }
  section {
    background-color: rgb(216, 216, 216);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }


  figure {
    max-width: 40%;
  }

}


@media screen and (min-width:1300px) {

  section {
    background-color: rgb(158, 158, 158);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  figure {
    max-width: 30%;
  }
  body {
    font-size: 200%;
  }
}