h1 {
    font-family: sans-serif;
    font-size: 65px;
    color: orange
  }
  .bg {
    background-color: yellow;
  }
  body {
    font-size: 16px;
  }
  p {
    font-weight: 600;
    font-size: 48px;
    font-style:oblique;
  }
  ul {
    font-family: 'Courier New', Courier, monospace;
    line-height: 10ex;
    text-align: center;
    text-decoration: underline;
  }

  .texto {
    font-size: 16px;
    background-color: salmon;
    width: 90%;
    height: 300px;
    overflow-y: auto;  }
  img {
    width: 500px;
  }

  .caixa {
    color: white;
    display: inline-block;
    line-height: 50px;
    text-align: center;
    vertical-align: top;
  }
  
  .width-and-height {
    height: 50px;
    width: 50px;
  }
  
  /* insira na classe abaixo um padding de 20px para aplicá-lo aos itens B, C e D */
  .padding { padding: 20px;
  }
  
  /* insira na classe abaixo uma margem de 30px para aplicá-la aos itens C e D */
  .margin { margin: 30px;
  }
  
  /* insira na classe abaixo uma borda com valor '5px solid black' para aplicá-la ao item D */
  .border { border: 5px solid black;
  }